.About {
    background-color: rgb(45, 48, 48);
    width: auto;
    height: 200px;
    z-index: 90;
    box-shadow: 2px 3px 3px rgb(45, 48, 48);
}

.About h3, h4 {
    color: white;
    text-decoration: solid;
    margin-top: 20px;
}