.Card {
    margin: 30px 20px;
    height: 300px;
    width: 300px;
    box-shadow: 2px 5px 5px grey;
    border-radius: 20px;
    background-color: white;
    display: inline-block;
    justify-content: space-between;
}