.typewriter h2 {
    width: auto;
    display: inline-block;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em;
    /* Adjust as needed */
    animation: typing 5s steps(40, end), blink-caret .75s step-end;
    animation-iteration-count: infinite;
    position: absolute;
    top: 300px;
    left: 60%;
    font-weight: bold;
    font-size: 38px;
    color: rgb(230, 221, 221);
    z-index: 80;
}

/* The typing effect */

@keyframes typing {
    from {
        max-width: 0
    }
    to {
        max-width: 50%
    }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: tan;
    }
}
